
/* TITULO */

h1{
    font-family: 'Inter', sans-serif;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 70px;
    font-size: 50px !important;

}
h2{
    font-family: 'Inter', sans-serif;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 70px;
    font-size: 35px !important;
}
h3{
    font-family: 'Inter', sans-serif;
    text-align: center;
    padding: 100px;
}
.p{
    color: rgb(212, 4, 4);
}
a:link, a:visited, a:active{
    text-decoration:none;
}
.large{
    align-content: center;
    
}

/* NAV DE SOL DE ERRORES */
#servidores{
    padding: 100px;
    color: red;
    
}

.err{
    padding-left: 50px;
    padding-bottom: 100PX;
}

/* SECCION SERVIDORES */
.ws{
    width: 1200px;
}
.botonServ{
    width: 100%;
    margin-bottom: 20px;
}